body{
	background-image:url("../image/bg.png") !important;
}

#banner{
	padding-top: 180px;
} 

#realtime {
	position: fixed;
	top:14px;
    left: 5px;
    margin:0px 0px 0px 0px;    
    padding: 0px 0px 0px 0px;
	z-index:10;
}

#user {
	position: fixed;
	top:4px;
    left: 5px;
    margin:0px 0px 0px 0px;    
    padding: 0px 0px 0px 0px;
	z-index:10;
}

#navigation {
	position: fixed;
	top: 0;
	left:0;
	width: 100%;
	color: #ffffff;
	height: 35px !important;
	text-align: center;
	padding-top: 15px;
	/* Adds shadow to the bottom of the bar */
	-webkit-box-shadow: 0px 0px 8px 0px #000000;
	-moz-box-shadow: 0px 0px 8px 0px #000000;
	box-shadow: 0px 0px 8px 0px #000000;
	/* Adds the transparent background */
	background-color: rgba(1, 1, 1, 0.8);
	color: rgba(1, 1, 1, 0.8);
	z-index:2;
}

#navigation a {
	font-size: 20px;
	font-family: 'verdana';
	color: white;
	text-decoration: none;
}

#navigation a:hover {
	color: grey;
} 

#innerdiv {
	padding-left: 50px;
	padding-right: 50px;
	padding-top: 95px;
}

footer{
    position: fixed;
    width: 100%;
    bottom: 0;
    left:0px;
    text-align: center;
    font: 12px verdana;
    z-index:100;
    background-color: rgba(1, 1, 1, 0.8);
    color: white;
}

.footerLink a:link {color:white;}
.footerLink a:visited {color:white;}
.footerLink a:hover {color:white;}
.footerLink a:active {color:white;} 